html{
    scroll-behavior: smooth;
}
body{
  background: #eeeeee;
  font-size: 18px;
  margin: 0;
  padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}
 
  
.active {
    background: #555;
    color: #f3f3f3;
}


h1{
  font-size: 40px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
    
}

h2{
  font-size: 30px;
  line-height: 2;  
    font-family: "Roboto-light", sans-serif;
    
}

 .resume {
        width: 300px;
        height: 400px;
     padding-bottom: 20px;
    } 


nav ul{
  list-style-type: none;
    color: #000000;
}

nav li{
  display: inline-block;
  margin-right: 15px;
    padding: 8px;
  text-decoration: none;
    font-size: 16px;
    color: #000000;
    
    text-align: center;
}
nav li:hover{
    text-decoration:none;
}

nav a{
  color: #000000;
  font-family: 'Roboto-thin', sans-serif;
  text-decoration: none;
    text-transform: uppercase;
    
    
}

nav a:hover{
  text-decoration:none;
    background: #2a2a2a;
    color: #eeeeee;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
    top: 0px;
}

.logo {
    width: 90px;
    margin-top: -39px;
    padding: 20px; 
    position:fixed;
    
}
.img {
    width: 100%;
    height: auto;
    float: left;
    margin-right: 30px; 
    border: 2px white solid;
    border-radius: 5px;
    border: 2px solid #eeeeee;
    margin-top: 20px;
    
}
.img2 {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid #eeeeee;
    
}
.img3 {
   background: transparent;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.img3:hover {
    border: 5px solid #556270;
    opacity: 0.5;
    
    
}

*:focus {
    border: 1px solid #2a2a2a;
}


.container{
  display: grid;
grid-template-columns: 0.6fr .1fr .5fr 1.5fr 0.5fr 0.5fr;
    grid-row-gap: 0px;
  grid-template-rows: 80px 60px 600px 60px auto auto auto auto auto auto auto auto auto auto auto; 
  width: 100vw; 
    
}

.nav{
   grid-column: 1/span 7;
    align-items: center;
    grid-row: 1/span 1;
    background: transparent;
  padding-top: 40px; 
  text-align: right; 
    padding-left: 50px; 
    padding-right: 50px; 
    padding-bottom: 30px;
    
    margin-top: -15px;
    border-bottom: 0px solid white;
    
    
}

.nav2{
    width: 100%;
    background: #ffffff;
    padding: 10px 30px;
    align-items: center;
    
    border-bottom: 2px solid #eeeeee;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    
    
    
    
    
}

.links {
    display: flex;
    list-style: none;
}

.links li {
    margin-right: 24px;
}

.links li a {
    text-decoration: none;
    color: #999999;
    letter-spacing: -0.5px;
}

.links li a:hover, .links li a:active {
    color: #000;
}


.sections {
    padding-top: 50px;
}

section {
    height: 100vh;
    background: #000000;
    padding-left: 30px;
    padding-top: 20px;
    text-align: center;
    color: #FFF;
}


}

header{
 background: transparent;
  color: white;
  height: 400px;               
  grid-column: 1/span 5;
 
    grid-row: 1/span 1;
    padding-top: 0px;
    padding-left: 5%;
    padding-bottom: 30px;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.icons {
    width: 40px;
    height: auto;
    padding-right: 10px;
}

.icons a{
    text-decoration: none;
}
.background{
    grid-column: 1/span 6;
    align-items: center;
    grid-row: 1/span 1;
    background-attachment: fixed; 
   background: #2f2f2f;    
    color: black;
    border-bottom: 4px solid #aaaaaa;  
    
}

.backgroundimg{
    grid-column: 1/span 6;
    align-items: center;
    grid-row: 1/span 3;
    
   background-image: url("../images/bannernotext.png");
    
    object-fit: cover;
    color: black;
    border-bottom: 4px solid #ffffff;  
    height: 100%;
    
    
    
}
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 103%;
  background: rgb(255, 255, 255);
  opacity: 0;
}

.backgroundtext{
    grid-column: 1/span 4;
    align-items: center;
    grid-row: 3/span 1;
    padding-top: 100px;
    padding-left: 100px;
   background: transparent;
    font-family: 'lora', sans-serif;
    font-size: 60px;
    letter-spacing: 10px;
    line-height: 100px;
    border-bottom: 4px solid #ffffff;  
    font-weight: 50;
    
}

.backgroundtext h2 {
     font-size: 20px;
    font-family: 'lora', sans-serif;
    color: #000000;
    line-height: 30px;
    text-align: left;
    height: 120px; 
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-style: italic;
    
    
}

.content-div{
    grid-column: 1/span 1;
    align-items: center;
    grid-row: 4/span 3;
    background: #7E9D7C;
    color: black;
    padding-top: 30px; 
    margin-top: 45px;
    margin-left: 80px;
    margin-bottom: 100px;
    padding-right: 40px;
    padding-left: 4%;
    border-radius: 10px;
    text-align: center; 
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    
    
}

.content h1 {
     font-size: 30px;
    font-family: 'Roboto-light', sans-serif;
    margin-bottom: 10px;
    border-bottom: 2px #FFFFFF solid;
    color: #000000;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    height: 120px; 
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    
    
}

.content2 h1 {
     font-size: 30px;
    font-family: 'Roboto-light', sans-serif;
    margin-bottom: 10px;
    border-bottom: 2px #FFFFFF solid;
    color: #000000;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    height: 120px; 
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    
    
}

.content{
    grid-column: 2/span 4;
    align-items: center;
    grid-row: 4/span 3;
    background: transparent;
    color: black;
    padding-top: 50px; 
    padding-right: 10%;
    padding-left: 4%;
    text-align: justify;
    
    
}
    

.content2 {
    grid-column: 2/span 4;
    align-items: center;
    grid-row: 7/span 3;
    background: transparent;
    color: black;
    padding-top: 50px; 
    padding-right: 10%;
    padding-left: 4%;
    text-align: justify;
    
    
}



.location {
    grid-column: 1/span 6;
    align-items: center;
    grid-row: 13/span 1;
    background: #5e5f5e;
    color: black;
    margin-top: 50px; 
    padding-top: 50px; 
    padding-right: 10%;
    padding-left: 4%;
    text-align: left;
    background-image: url("../images/lowopactitya2.png");
    border-top: 2px #FFFFFF solid;
    
    
}


.location2 {
    grid-column: 1/span 6;
    align-items: center;
    grid-row: 14/span 1;
    background: #D0D6D0;
    color: black;
    margin-top: 0px; 
    padding-top: 10px; 
    padding-right: 15%;
    padding-left: 15%;
    text-align: left;
    border-top: 2px #FFFFFF solid;
    padding-bottom: 50px;
    margin-bottom: 50px;
    
    
}


#locationclass {
    height: auto;
    margin-left: 50px;
    border-radius: 10px;
    margin-bottom: 00px;
    
    
}

#locationclass1 {
    height: auto;
    width: 50%;
    float: left;
    padding-bottom: 2%;
    background: #eeeeee;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    color: #000000;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Lora', serif;
    padding-bottom: 0%;
    
}

#locationclass2 {
    height: auto;
    width: 35%;
    float: left;
    padding-bottom: 2%;
    background: #eeeeee;
    margin: 20px;
    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    color: #000000;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Lora', serif;
    
}

#scheduleclass {
    height: auto;
    margin-left: 100px;
    border-radius: 10px;
    margin-bottom: 00px;
    
    
}
#schedule2 {
    height: auto;
    width: 40%;
    float: left;
    padding-bottom: 2%;
    background: #eeeeee;
    margin: 20px;
    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    color: #000000;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Lora', serif;
    
}




.location2 h1{
  font-size: 40px;
    font-family: 'Roboto-light', sans-serif;
    margin-bottom: 20px;
    padding-bottom: 0px;
    color: #000000;
    
    
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 100;
}

.location2 h2{
  font-size: 20px;
    font-family: 'Roboto-light', sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #000000;
    
    
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 100;
}


.location2 p{
    color: #000000;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Lora', serif;
    background: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}


#classtext {
    height: auto;
    padding-bottom: 2%;
    
}

#classtext2 {
    height: auto;
    padding-bottom: 8%;
}



#workshopclass {
    height: auto;
    padding-bottom: 2%;
    background: #eeeeee;
    margin: 20px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    
}

#workshopclass2 {
    height: 100%;
    padding-bottom: 2%;
    background: #eeeeee;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10%;
    
    
    /*/box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);/*/
    
}

.keynote {
    grid-column: 1/span 6;
    align-items: center;
    grid-row: 15/span 1;
    background: #eeeeee;
    color: black;
    margin-top: 20px; 
    padding-top: 20px; 
    padding-right: 15%;
    padding-left: 15%;
    text-align: left;
    
    
    
}

.keynote p{
    color: black;
    line-height: 34px;
    font-size: 17px;
    font-family: 'Lora', serif;
    text-align: justify;
}

.keynote h1{
  font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #2f2f2f;
    text-shadow: 1px 1px #aaaaaa;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
}

.keynote h2{
  font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    width: auto;
    font-weight: 100;
    text-transform: uppercase;
    
    border-radius: 20px;
    
}



.workshop {
    grid-column: 1/span 6;
    align-items: center;
    grid-row: 16/span 1;
    background-color: #D0D6D0;
    color: black;
    margin-top: 20px; 
    padding-top: 20px; 
    padding-right: 15%;
    padding-left: 15%;
    text-align: left;
    
    
    
}

.workshop h1{
  font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #2f2f2f;
    text-shadow: 1px 1px #aaaaaa;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
}

.workshop h2{
  font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    width: auto;
    font-weight: 100;
    letter-spacing: 2px;
    border-radius: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.workshop h3{
  font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    width: auto;
    font-weight: 100;
    letter-spacing: 2px;
    border-radius: 20px;
    margin-bottom: 10px;
    
}


.workshop p{
    color: #000000;
    line-height: 23px;
    font-size: 14px;
    font-family: 'Lora', serif;
    text-align: justify;
}

.team {
    grid-column: 1/span 6;
    align-items: center;
    grid-row: 16/span 1;
    background-color: #eeeeee;
    color: black;
    margin-top: 20px; 
    padding-top: 20px; 
    padding-right: 15%;
    padding-left: 15%;
    text-align: left;
    padding-bottom: 100%
    
    
    
    
}

#teamdiv {
    height: auto;
    width: 100%;
    
    background: transparent;
    border-radius: 10px;
    
    padding-bottom: 100px;
    
    
    
}
#team1 {
    height: 255px;
    width: 45%;
    padding-right: 50px;
    padding: 20px;
    float: left;
    background: #FAFAFA;
    border-radius: 10px;
    margin: 20px;
    overflow: auto;
    
    
    
}
.team h1{
  font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #2f2f2f;
    text-shadow: 1px 1px #aaaaaa;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
}

.team h2{
  font-size: 23px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    width: auto;
    font-weight: 100;
    letter-spacing: 2px;
    border-radius: 20px;
    margin-bottom: -5px;
    
}

.team h3{
  font-size: 13px;
    font-family: 'Lora', serif;
    color: #5D5E5D;
    width: auto;
    font-style: italic;
    letter-spacing: 2px;
    border-radius: 20px;
    margin-bottom: 0px;
}


.team p{
    color: black;
    line-height: 30px;
    font-size: 12px;
    font-family: 'Lora', serif;
}


.content p{
    color: black;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Lora', serif;
}

.content2 p{
    color: black;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Lora', serif;

}

.location p{
    color: #000000;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Lora', serif;
    
    padding: 20px;
    border-radius: 10px;
}


.content h2{
  font-size: 40px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    text-shadow: 2px 2px #eaeaea;
}




.schedule {
    grid-column: 1/span 6;
    align-items: center;
    grid-row: 17/span 1;
    background-color: #D0D6D0;
    color: black;
    margin-top: 20px; 
    padding-top: 20px; 
    padding-right: 15%;
    padding-left: 15%;
    text-align: left;
    padding-bottom: 45%;
    
    
    
}



footer{
  background: #FFFFFF;
  color: 000000;
 width: 100%;
  text-align: center;
    grid-column: 1/span 6;
    grid-row: 8/span 1;
    height: 60px;
    border-top: 1px solid #eeeeee;
    bottom: 0%;
    padding-bottom: 5%;
    
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 

}

input[type=submit] {
  background-color: #2a2a2a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #aaaaaa;
}



.workshopimage {
  opacity: 1;
  display: block;
  width: 200px;
    height: 200px;
  /*height: auto;*/
    object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
    float: left;
    border-radius: 5px;
    margin-right: 35px;
    border: 2px solid #eeeeee;
    border-radius: 10px;
   
    
}


.image2 {
  opacity: 1;
  display: block;
  width: 300px;
    height: 300px;
  /*height: auto;*/
    object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
    float: left;
   margin-bottom: 50px;
    margin-right: 30px;
    border-radius: 5px;
    margin-top: -1px;
    border: 2px solid #eeeeee;
    border-radius: 10px;
   
    
}



.image3 {
  opacity: 1;
  display: block;
  width: 450px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
    float: left;
    margin-left: 25px; 
    margin-bottom: 50px; 
    margin-right: 85px;
    border-radius: 5px;
    border: 2px solid #eeeeee;
   
    
}



.image4 {
  opacity: 1;
  display: block;
  width: 95%;
    height: auto;
  /*height: auto;*/
    object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
    border-radius: 5px;
    margin-top: -1px;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
   
    
}

.image5 {
  opacity: 1;
  display: block;
  width: 95%;
    height: 150px;
    object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
    border-radius: 5px;
    margin-top: 15px;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
   
    
}



p{
    color: black;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Lora', serif;
}


* {
  box-sizing: border-box;
}

.responsive {
    width: 100%;
  }





}




@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: 0s;
    transition: 0s;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}